In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
import webbrowser
website='http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [11]:
nfl_frame = pd.read_clipboard()

In [14]:
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North

In [17]:
nfl_frame.columns

Index(['Rank', 'Team', 'Won', 'Lost', 'Tied*', 'Pct.', 'First Season',
       'Total Games', 'Conference'],
      dtype='object')

In [18]:
nfl_frame['First Season']

0    1960
1    1920
2    1921
3    1966
4    1996
Name: First Season, dtype: int64

In [20]:
DataFrame(nfl_frame,columns=['Team','First Season','Total Games'])

                Team  First Season  Total Games
0     Dallas Cowboys          1960          894
1      Chicago Bears          1920         1357
2  Green Bay Packers          1921         1339
3     Miami Dolphins          1966          792
4   Baltimore Ravens          1996          326

In [21]:
DataFrame(nfl_frame,columns=['Team','First Season','Total Games','Stadium'])

                Team  First Season  Total Games  Stadium
0     Dallas Cowboys          1960          894      NaN
1      Chicago Bears          1920         1357      NaN
2  Green Bay Packers          1921         1339      NaN
3     Miami Dolphins          1966          792      NaN
4   Baltimore Ravens          1996          326      NaN

In [22]:
abc

NameError: name 'abc' is not defined

In [23]:
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North

In [25]:
nfl_frame.tail(3)

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North

In [26]:
nfl_frame.ix(3)

In [27]:
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North

In [29]:
nfl_frame.ix[3]

Rank                         4
Team            Miami Dolphins
Won                        443
Lost                       345
Tied*                        4
Pct.                     0.562
First Season              1966
Total Games                792
Conference            AFC East
Name: 3, dtype: object

In [30]:
nfl_frame['Stadium'] = "Levi's Stadium"

In [31]:
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference,Stadium
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East,Levi's Stadium
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North,Levi's Stadium
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North,Levi's Stadium
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East,Levi's Stadium
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North,Levi's Stadium

In [32]:
nfl_frame['Stadium'] = np.arange(5)

In [33]:
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference,Stadium
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East,0
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North,1
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North,2
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East,3
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North,4

In [35]:
stadiums = Series(["Levi's Stadium", "AT&T Stadium"], index=[4,0])
stadiums

4    Levi's Stadium
0      AT&T Stadium
dtype: object

In [36]:
nfl_frame['Stadium'] = stadiums
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference,Stadium
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East,AT&T Stadium
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North,NaN
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North,NaN
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East,NaN
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North,Levi's Stadium

In [37]:
del nfl_frame['Stadium']

In [38]:
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North

In [39]:
data = {'City':['SF','LA','NYC'],'Population':[837000,3880000,8400000]}

In [40]:
city_frame = DataFrame(data)

In [41]:
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000