In [1]:
import pandas as pd

In [4]:
from io import StringIO

In [6]:
data="""
Sample Animal Intelligence
1 Dog Smart
2 Dog Smart
3 Cat Dumb
4 Cat Dumb
5 Dog Dumb
6 Cat Smart"""

In [7]:
dframe = pd.read_table(StringIO(data),sep='\s+')

In [8]:
dframe

   Sample Animal Intelligence
0       1    Dog        Smart
1       2    Dog        Smart
2       3    Cat         Dumb
3       4    Cat         Dumb
4       5    Dog         Dumb
5       6    Cat        Smart

In [10]:
pd.crosstab(dframe.Animal,dframe.Intelligence,margins=True)

Intelligence  Dumb  Smart  All
Animal
Cat              2      1    3
Dog              1      2    3
All              3      3    6

In [11]:
pd.crosstab(dframe.Animal,dframe.Intelligence,margins=False)

Intelligence  Dumb  Smart
Animal
Cat              2      1
Dog              1      2