In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [5]:
# import pandas testing utility
import pandas.util.testing as tm; tm.N = 3

#Create an unpivoted function
def unpivot(frame):
    N, K = frame.shape
    
    data = {'value' : frame.values.ravel('F'),
           'variable' : np.asarray(frame.columns).repeat(N),
           'date' : np.tile(np.asarray(frame.index),K)}
    
    # Return the DataFrame
    return DataFrame(data, columns = ['date', 'variable', 'value'])

#Set the DataFrame we'll be using
dframe = unpivot(tm.makeTimeDataFrame())

In [6]:
dframe

         date variable     value
0  2000-01-03        A  0.501975
1  2000-01-04        A  1.232975
2  2000-01-05        A  0.464894
3  2000-01-03        B -0.670835
4  2000-01-04        B -0.771074
5  2000-01-05        B -0.165330
6  2000-01-03        C  0.577969
7  2000-01-04        C  0.600959
8  2000-01-05        C  0.494519
9  2000-01-03        D -0.784526
10 2000-01-04        D -0.929659
11 2000-01-05        D -1.018906

In [7]:
dframe_piv = dframe.pivot('date','variable','value')

In [8]:
dframe_piv

variable           A         B         C         D
date
2000-01-03  0.501975 -0.670835  0.577969 -0.784526
2000-01-04  1.232975 -0.771074  0.600959 -0.929659
2000-01-05  0.464894 -0.165330  0.494519 -1.018906