In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [3]:
dframe1= DataFrame(np.arange(8).reshape(2,4),
                  index=pd.Index(['LA','SF'],name='city'),
                  columns=pd.Index(['A','B','C','D'],name='letter'))
dframe1

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [4]:
dframe_st = dframe1.stack()
dframe_st

city  letter
LA    A         0
      B         1
      C         2
      D         3
SF    A         4
      B         5
      C         6
      D         7
dtype: int64

In [5]:
dframe_st.unstack()

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [6]:
dframe_st.unstack('letter')

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [7]:
dframe_st.unstack('city')

city    LA  SF
letter
A        0   4
B        1   5
C        2   6
D        3   7

In [8]:
ser1 = Series([0,1,2],index=['Q','X','Y'])
ser2 = Series([4,5,6],index=['X','Y','Z'])

dframe = pd.concat([ser1,ser2],keys=['Alpha','Beta'])
dframe

In [10]:
dframe.unstack()

        Q  X  Y   Z
Alpha   0  1  2 NaN
Beta  NaN  4  5   6

In [11]:
dframe.unstack().stack()

Alpha  Q    0
       X    1
       Y    2
Beta   X    4
       Y    5
       Z    6
dtype: float64

In [12]:
dframe = dframe.unstack()
dframe

        Q  X  Y   Z
Alpha   0  1  2 NaN
Beta  NaN  4  5   6

In [13]:
dframe.stack(dropna=False)

Alpha  Q     0
       X     1
       Y     2
       Z   NaN
Beta   Q   NaN
       X     4
       Y     5
       Z     6
dtype: float64