In [1]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
from pandas import Series,DataFrame

In [5]:
obj = Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [6]:
obj.values

array([ 3,  6,  9, 12])

In [7]:
obj.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [8]:
ww2_cas = Series([8700000,4300000,300000,2100000,400000],index=['USSR','Germany','China','Japan','USA'])
ww2_cas

USSR       8700000
Germany    4300000
China       300000
Japan      2100000
USA         400000
dtype: int64

In [9]:
ww2_cas['USA']

400000

In [10]:
# Check which countries had cas greater than 4 mill
ww2_cas[ww2_cas>4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [11]:
'USSR' in ww2_cas

True

In [12]:
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'China': 300000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [13]:
ww2_series = Series(ww2_dict)

In [14]:
ww2_series

China       300000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [15]:
countries = ['China','Germany','Japan','USSR','Argentina']

In [17]:
obj2 = Series (ww2_dict,index = countries)
obj2

China         300000
Germany      4300000
Japan        2100000
USSR         8700000
Argentina        NaN
dtype: float64

In [18]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USSR         False
Argentina     True
dtype: bool

In [19]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USSR          True
Argentina    False
dtype: bool

In [20]:
ww2_series

China       300000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [21]:
ww2_series + obj2

Argentina         NaN
China          600000
Germany       8600000
Japan         4200000
USA               NaN
USSR         17400000
dtype: float64

In [23]:
obj2.name = 'WW2 Casualties'
obj2

China         300000
Germany      4300000
Japan        2100000
USSR         8700000
Argentina        NaN
Name: WW2 Casualties, dtype: float64

In [24]:
obj2.index.name = 'Countries'

In [25]:
obj2

Countries
China         300000
Germany      4300000
Japan        2100000
USSR         8700000
Argentina        NaN
Name: WW2 Casualties, dtype: float64