In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [2]:
dframe = DataFrame({'k1':['X','X','Y','Y','Z'],
                    'k2':['alpha','beta','alpha','beta','alpha'],
                   'dataset1':np.random.randn(5),
                   'dataset2':np.random.randn(5)})

In [3]:
dframe

   dataset1  dataset2 k1     k2
0  0.865973  0.765498  X  alpha
1  0.930791 -0.121976  X   beta
2 -0.749173  0.904476  Y  alpha
3  0.576850  0.271586  Y   beta
4 -0.759003  0.331222  Z  alpha

In [4]:
group1 = dframe['dataset1'].groupby(dframe['k1'])
group1

In [5]:
group1.mean()

k1
X    0.898382
Y   -0.086161
Z   -0.759003
Name: dataset1, dtype: float64

In [6]:
group1

In [7]:
cities = np.array(['NY','LA','LA','NY','NY'])
month = np.array(['JAN','FEB','JAN','FEB','JAN'])

In [9]:
dframe['dataset1'].groupby([cities,month]).mean()

LA  FEB    0.930791
    JAN   -0.749173
NY  FEB    0.576850
    JAN    0.053485
Name: dataset1, dtype: float64

In [10]:
dframe.groupby('k1').mean()

    dataset1  dataset2
k1
X   0.898382  0.321761
Y  -0.086161  0.588031
Z  -0.759003  0.331222

In [11]:
dframe.groupby(['k1','k2']).mean()

          dataset1  dataset2
k1 k2
X  alpha  0.865973  0.765498
   beta   0.930791 -0.121976
Y  alpha -0.749173  0.904476
   beta   0.576850  0.271586
Z  alpha -0.759003  0.331222

In [12]:
dframe.groupby(['k1']).size()

k1
X    2
Y    2
Z    1
dtype: int64

In [14]:
for name,group in dframe.groupby('k1'):
    print ("This is the %s group" %name)
    print (group)
    print ('\n')

This is the X group
   dataset1  dataset2 k1     k2
0  0.865973  0.765498  X  alpha
1  0.930791 -0.121976  X   beta


This is the Y group
   dataset1  dataset2 k1     k2
2 -0.749173  0.904476  Y  alpha
3  0.576850  0.271586  Y   beta


This is the Z group
   dataset1  dataset2 k1     k2
4 -0.759003  0.331222  Z  alpha

In [16]:
for (k1,k2),group in dframe.groupby(['k1','k2']):
    print ("Key1 = %s, Key2 = %s" %(k1,k2))
    print (group)
    print ('\n')

Key1 = X, Key2 = alpha
   dataset1  dataset2 k1     k2
0  0.865973  0.765498  X  alpha


Key1 = X, Key2 = beta
   dataset1  dataset2 k1    k2
1  0.930791 -0.121976  X  beta


Key1 = Y, Key2 = alpha
   dataset1  dataset2 k1     k2
2 -0.749173  0.904476  Y  alpha


Key1 = Y, Key2 = beta
   dataset1  dataset2 k1    k2
3   0.57685  0.271586  Y  beta


Key1 = Z, Key2 = alpha
   dataset1  dataset2 k1     k2
4 -0.759003  0.331222  Z  alpha

In [17]:
group_dict = dict(list(dframe.groupby('k1')))

In [18]:
group_dict['X']

   dataset1  dataset2 k1     k2
0  0.865973  0.765498  X  alpha
1  0.930791 -0.121976  X   beta

In [19]:
group_dict

{'X':    dataset1  dataset2 k1     k2
 0  0.865973  0.765498  X  alpha
 1  0.930791 -0.121976  X   beta, 'Y':    dataset1  dataset2 k1     k2
 2 -0.749173  0.904476  Y  alpha
 3  0.576850  0.271586  Y   beta, 'Z':    dataset1  dataset2 k1     k2
 4 -0.759003  0.331222  Z  alpha}

In [20]:
group_dict_axis1 = dict(list(dframe.groupby(dframe.dtypes,axis=1)))

In [21]:
group_dict_axis1

{dtype('float64'):    dataset1  dataset2
 0  0.865973  0.765498
 1  0.930791 -0.121976
 2 -0.749173  0.904476
 3  0.576850  0.271586
 4 -0.759003  0.331222, dtype('O'):   k1     k2
 0  X  alpha
 1  X   beta
 2  Y  alpha
 3  Y   beta
 4  Z  alpha}

In [22]:
dataset2_group = dframe.groupby(['k1','k2'])[['dataset2']]

In [23]:
dataset2_group

In [24]:
dataset2_group.mean()

          dataset2
k1 k2
X  alpha  0.765498
   beta  -0.121976
Y  alpha  0.904476
   beta   0.271586
Z  alpha  0.331222